*{box-sizing: border-box; margin: 0%;}
body{
font-family: 'Poppins', sans-serif;
}
/*donate div start form here */
.donate{
background-image: url("images/donation3.jpg");
background-repeat: no-repeat;
background-size: 100%;
width: 100%; 
height: auto;
padding: 20px;
margin-bottom: 80px;
}
.headParagraphText{
color: white; 
font-size: 20px; 
text-align: center; }
.head-text{
font-size: 50px; 
text-align: center;
color: white;}
.button{
padding: 14px; 
background-color:red; 
color: white; 
border-radius: 10px;
border: none; 
margin-left: 45%; 
font-size: 15px; 
margin-bottom: 80px;
}
button{ font-family: 'Poppins', sans-serif; font-weight: bolder;}
button{
font-family: 'Poppins', sans-serif;
}
/*donate div end form here */
/*Head div text start form here */
.HeadDivtext{
text-align: center;
justify-content: center; 
font-size: 20px;
margin-bottom: 80px;
}
/*Head div text end form here */

/*Donate Amount  start form here */
.donateAmout{
width: 100%;
}
.donateAmout > ul > li {
list-style-type: none;
list-style-position: inside;
background-color: aliceblue;
width: 140px;
padding: 30px;
font-size: 30px;
text-align: center;
margin-left: 100px;
float: left;
margin-bottom: 80px;
border-radius: 10px;
}
.twoHundred{
border: 2px solid red;
background-color: rgba(192, 11, 72, 0.3);
padding: 30px;
width: 280px;
color: red;
font-weight: 700;
margin-left: -28px;
border-radius: 10px;
}
/*Donate Amount  end form here */

/*Donate field start form here */
.donateField{
margin-left: 45%;
}
#textField{
border: none;
font-size: 20px;
width: 480px;
padding: 20px;
text-align: center;
margin-left:-870px;
justify-content: center;
margin-top: 40px;
margin-bottom: 4px;
}
.button2{
padding: 16px; 
background-color:red; 
color: white; 
border-radius: 8px;
border: none; 
font-size: 15px; 
margin-bottom: 80px;
}
/*Donate field  end form here */

/*Donate Planing div start form here */
.dontaPalanDiv{
width: 100%;
display: flex;
margin-bottom: 80px;
}
.leftSide{
width: 30%;
background-color: rgba(187, 211, 211 , 0.4);
padding: 2px;
text-align: center;
justify-content: center;
height: auto;
margin-left: 30px;
border-radius: 20px;
}
.mainSide{
width: 30%;
background-color:rgba(194, 17, 76 ,0.4);
text-align: center;
justify-content: center;
height: auto;
padding: 2px;
margin-left: 40px;
border-radius: 20px;
}

.rightSide{
width: 30%;
background-color:rgba(255, 166, 0, 0.4);
text-align: center;
justify-content: center;
height: auto;
margin-left: 40px;
padding: 3px;
border-radius: 20px;
}

/*Donate Planing div end form here */

/*Live donate div start form here */
.livesDonate {
width: 100%;
display: flex;
}
.livesDonate > .leftSideDoante{
width: 55%;
height: auto;
padding: 20px;
}

.livesDonate > .rightSideDonate{
width: 40%;
height: auto;
padding: 20px;
}
.continueButton{
padding: 16px; 
background-color:red; 
color: white; 
border-radius:8px;
border: none; 
font-size: 15px; 
margin-bottom: 8rem;
}
.dontationImage{
width: 510px;
height: 400px;
border-radius: 20px;
box-shadow: 0 15px 50px;
border: 3px solid blue;
}
/*Live donate div end form here */

/*footer div start form here */
.form{
background-color: rgba(211, 198, 11, 0.5);
margin: auto;
padding: 70px;
width: 60%;
height: 250px;
border-radius: 10px;
}
.form-group{display: flex; margin-top: 28px;}
#email{
border: none;
width: 80%;
padding: 17;
font-size: 30px;
background-color: aliceblue;
padding-left: 12px;
}
.subscribe{
border: none;
width: 40%;
padding: 17px;
background-color: brown;
color: white;
font-size: 20px;
}
/*footer  div end form here */
